# dependencies
node_modules

# env files
.env

# build folders
dist
build

# logs
logs
*.log

# OS files
.DS_Store

# uploads
uploads

# cache
.cache

# frontend
frontend/node_modules

# backend
backend/node_modules